
extends layout

block content
  h1= title

  ul
    each game in game_list
      li
        a(href=game.url) #{game.title}
        |  (#{"$" + game.price})
        each val, index in game.platform
            a(href=val.url) #{val.name}
            if index < game.platform.length - 1
                |, 

    else
      li There are no games.